.carousel {
  padding: 1rem 0;
  background-color: #eaceb8;
  padding: 1rem;
}

.carousel img {
  width: 8px;
  height: 500px;
  text-align: center;
  object-fit: center;
  padding: 2rem;
}

.thumbs-wrapper,
.carousel-status {
  display: none;
  padding: 3rem;
}
